[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "WiringPi"]
	path = WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
